.wrap{
    text-align: center;
}

.usersScollWrapper{

    max-height: 120px;
    border: solid 1px #ddd;
    display: flex;
    overflow-x: auto;
    width: 50%;
    justify-content: center;
    // overflow-wrap: break-word;

    .item{
        background-color: silver;
        min-width: 110px;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
}
